snippet newcomponent
	import React, { Component } from 'react';
	require('../css/components/${2:shortname}.scss');
	class ${1:tallname} extends Component {
	  render() {
	    let { actions, components, propProvider } = this.props;
	    return (
	      <div className="$2">
	      <h1 className="$2__headline">Hello</h1>
	      </div>
	    );
	  }
	}

	const T = React.PropTypes
	$1.propTypes = {
	}

	module.exports = $1;

snippet testsnip
	asdf${1:comp}fdsa
	  fdsa $1

